* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, Montserrat;
  outline: none;
}

body {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  main {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    padding: 20px;
    form {
      width: 100%;
      .columns {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
      }
      label {
        display: block;
      }
      input {
        padding: 10px;
        border: 2px #221f3e solid;
        border-radius: 5px;
        width: 100%;
        margin-bottom: 10px;
        font-size: 1rem;
      }
      button {
        display: block;
        width: 100%;
        padding: 10px;
        color: white;
        background-color: #3f3770;
        border: 2px #3f3770 solid;
        border-radius: 5px;
        font-size: 1rem;
        cursor: pointer;
      }
      p.siwtch {
        cursor: pointer;
        text-align: center;
        color: #3f3770;
        margin: 20px 0;
        span {
          color: #c59909;
        }
        &:hover {
          span {
            text-decoration: underline;
          }
        }
      }
    }
  }
  aside {
    background-color: #3f3770;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: sticky;
    top: 0;
    left: 0;
    h1 {
      font-size: 7rem;
      color: #221f3e;
      span {
        color: #c59909;
      }
    }
  }
  aside.error {
    color: white;
    background-color: #f14668;
    border-color: #f5c2c7;
    font-weight: 600;
    height: fit-content;
    display: block;
    padding: 10px;
    position: fixed;
    width: 98%;
    left: 1%;
    top: 15px;
    border-radius: 5px;
    p {
      margin: 10px 0;
    }
  }
  aside.success {
    color: #0f5132;
    background-color: #d1e7dd;
    border-color: #badbcc;
    font-weight: 600;
    height: fit-content;
    display: block;
    padding: 10px;
    position: fixed;
    width: 100%;
    p {
      margin: 10px 0;
    }
  }
}