a {
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, Montserrat;
  outline: none;
  outline: none;
  transition-property: all;
  transition-duration: 0.5s;
}
*::-webkit-scrollbar {
  display: none;
}

h1 {
  font-size: 7rem;
  color: #221f3e;
}
h1 span {
  color: #c59909;
}

header {
  height: 200px;
  background-color: #221f3e;
  overflow: hidden;
}

nav {
  display: flex;
  align-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  left: 0;
  background-color: white;
  box-shadow: 0 0 5px lightgray;
  z-index: 10;
}
@media screen and (max-width: 500px) {
  nav {
    display: block;
  }
}
@media screen and (max-width: 500px) {
  nav .brand {
    display: flex;
    align-content: center;
    align-items: center;
  }
}
nav .brand .logo h1 {
  color: #221f3e;
  padding: 10px;
  font-size: 1.5rem;
}
@media screen and (max-width: 500px) {
  nav .brand .logo {
    margin-right: auto;
  }
}
nav .brand .profile {
  display: none;
}
@media screen and (max-width: 500px) {
  nav .brand .profile {
    display: inherit;
  }
}
nav .brand .profile:hover svg path {
  fill: #322f4e;
}
nav .brand .profile svg path {
  fill: #221f3e;
}
nav .brand .menu {
  display: none;
  padding: 10px;
  background-color: white;
  border: none;
}
@media screen and (max-width: 500px) {
  nav .brand .menu {
    display: inherit;
  }
}
nav .brand .menu svg path {
  fill: #221f3e;
}
nav .options {
  display: flex;
  flex-grow: 1;
  align-content: center;
  align-items: center;
}
@media screen and (max-width: 500px) {
  nav .options {
    display: none;
  }
}
nav .options a {
  padding: 20px;
  color: black;
}
@media screen and (max-width: 500px) {
  nav .options a {
    display: block;
  }
}
nav .options a:hover {
  text-decoration: underline;
}
nav .options a:nth-of-type(1) {
  margin-left: auto;
}
@media screen and (max-width: 500px) {
  nav .options a:nth-of-type(1) {
    margin-left: 0;
  }
}
nav .options a.profile {
  margin-left: auto;
}
@media screen and (max-width: 500px) {
  nav .options a.profile {
    display: none;
  }
}
nav .options a.profile:hover svg path {
  fill: #322f4e;
}
nav .options a.profile svg path {
  fill: #221f3e;
}

main {
  position: relative;
  bottom: 100px;
}
main .profile-details {
  text-align: center;
}
main .profile-details .profile-img img {
  background-color: white;
  clip-path: circle();
}
main .profile-details .profile-details h1 {
  color: #221f3e;
  font-size: 42px;
}
main .tabs {
  margin: 20px 0;
  display: flex;
  padding: 20px;
}
main .tabs .tab {
  flex-grow: 1;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 100%;
  padding: 20px;
  border: 1px #221f3e solid;
}
main .tabs .tab.active {
  background-color: #221f3e;
  color: white;
}
main .view-pager .page h2 {
  text-transform: uppercase;
  text-align: center;
  color: #221f3e;
}
main .view-pager .page.three .genre {
  margin: 20px 5%;
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: #d8d7d8;
}
main .view-pager .page.three .genre .genre-name {
  flex-grow: 1;
  padding: 10px;
  color: #221f3e;
  text-transform: uppercase;
  font-weight: 600;
}
main .view-pager .page.three .genre button {
  background-color: #221f3e;
  border: none;
  padding: 10px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
main .view-pager .page.three .genre button svg {
  width: 30px;
}
main .view-pager .page.three .genre button svg path {
  fill: white;
}
main .view-pager .page.one .property {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  font-size: 100%;
  margin: 20px 5%;
}
main .view-pager .page.one .property .propery-name {
  flex-grow: 1;
  padding: 15px;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}
main .view-pager .page.one .property .edit-text {
  flex-grow: 1;
  margin: 0 10px;
}
main .view-pager .page.one .property .edit-text input {
  border: 2px #d8d7d8 solid;
  width: 100%;
  padding: 15px;
  font-size: 1em;
  border-radius: 5px;
}
main .view-pager .page.one .property button {
  flex-grow: 1;
  border: none;
  padding: 15px;
  background-color: #221f3e;
  color: white;
  text-transform: uppercase;
  border-radius: 5px;
}
main .view-pager .page.one .options {
  padding: 20px;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
}
@media screen and (max-width: 800px) {
  main .view-pager .page.one .options {
    grid-template-columns: repeat(1, 1fr);
  }
}
main .view-pager .page.one .options .option {
  border-radius: 10px;
  padding: 20px;
  text-align: center;
}
main .view-pager .page.one .options .option:hover {
  transform: scale(1.05);
}
main .view-pager .page.one .options .option:nth-of-type(odd) {
  background-color: #221f3e;
  color: white;
}
main .view-pager .page.one .options .option:nth-of-type(odd) svg path {
  fill: white;
}
main .view-pager .page.one .options .option:nth-of-type(even) {
  border: 3px #221f3e solid;
}
main .view-pager .page.one .options .option:nth-of-type(even) svg path {
  fill: #221f3e;
}

/*# sourceMappingURL=profile.css.map */
